/* 
@media (max-width: 1536px){

}

@media (max-width: 1280px){
    
}

@media (max-width: 1024px){
    
}

@media (max-width: 768px){
    
}

@media (max-width: 640px){

}

@media (max-width: 475px){

}
*/


.container{
    position: relative;
    border: 1px solid black;
    width: 21cm;

    
    margin-inline: auto;
    padding: 1.27cm;
}

.return_container{
    height: 100%;
    
    position: absolute;
    left: -5rem;
    top: 0;
}

.return__btn{
    color: var(--clr-black);
    
    position: sticky;
    top: 0;
}

.return__icon{
    width: var(--size-6xl);
    height: auto;
    
    padding: 1rem;
}

.download_container{
    height: 100%;
    
    position: absolute;
    right: -4rem;
    top: 0;

}

.download__btn{
    color: var(--clr-black);

    position: sticky;
    top: 0;
}

.download__icon{
    width: var(--size-6xl);
    height: auto;
    
    padding: 1rem;
}

.separator{
    margin-top: 0.25rem;

    border-color: var(--clr-black);
}

.section{
    margin-top: 0.5rem;
}

.title{
    font-family: var(--font-secondary);
    font-size: var(--size-lg);

    text-transform: uppercase;

    line-height: 1;
}

.margin_top0{
    margin-top: 0;
}


@media (max-width: 1536px){
    .container{
        max-width: 1280px;
    }

}

@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }
    
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    
}

@media (max-width: 768px){
    .container{
        max-width: 640px;
    }

    .title{
        font-size: var(--size-base);
    }

}

@media (max-width: 640px){
    .container{
            max-width: 475px;
    }
    
}

@media (max-width: 475px){
    .container{
        max-width: 100%;
   }
}
   